@use "./colors" as *;

@font-face{
    font-family:"Avenir";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Avenir";
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: demi;
    font-style: normal;
}

@font-face{
    font-family:"Avenir";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

/* ---- Mobile ---- */
$mSection-Header: bold 1.5rem "Avenir";
$mSubheader: demi  0.875rem "Avenir";
