@mixin flex{
    display: flex;
}

@mixin flex-center{
    justify-content: center;
    align-items: center;
}

@mixin no-dots{
    list-style: none;
    padding: 0;
}

@mixin no-text-decoration{
    text-decoration: none;
    
}

@mixin Padding-Sides{
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin tablet{
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: 1280px){
        @content;
    }
}

// ----- Mobile ----- //

@mixin mHeadPadding-Top{
    padding-top: 1.5rem;
}

@mixin mHeadPadding-Bottom{
    padding-bottom: 1rem;
}

@mixin mContentPadding-Top{
    padding-top: 1rem;
}
@mixin mContentPadding-Bottom{
    padding-bottom: 1rem;
}


// ----- Tablet/Desktop -----//

@mixin tHeadPadding-Top{
    padding-top: 3rem;
}

@mixin tHeadPadding-Bottom{
    padding-bottom: 2.25rem;
}

@mixin tContentPadding-Top{
    padding-top: 2.25rem;
}

@mixin tContentPadding-Bottom{
    padding-bottom: 2.25rem;
}

@mixin tPadding-Sides{
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

// ---- Desktop ---- //

@mixin dPadding-Top{}

@mixin dPadding-Sides{
    padding-left: 7rem;
    padding-right: 7rem;
}
