@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;


*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.main-nav{
    @include flex;
    flex-direction: column;
    background-color:$BandSite-Black;
    height: 100%;
    width: 100vw;

    &__logo{
        @include flex;
        @include flex-center;
        padding: $mPadding-Headlines;
        width: 100%;
    }

    &__logo-link{
        text-decoration: none;
    }

    &__logo-img{
        width: 120px;
        height: 20px;
    }

    &__container{
        @include flex;
    }

    &__item{
        @include flex;
        @include no-dots;
        padding: 0 1rem 1rem;
        margin:0;
        width: 100%;
        justify-content: space-around;
        border-bottom: 0.313rem solid $BandSite-Black;
        
        &:hover{
            border-bottom: 0.313rem solid $White;
            color: $White;
        }

        &--active{
            border-bottom: 0.313rem solid $White;
        }
        &--inactive{
            border-bottom: 0.313rem solid $BandSite-Black;
        }
        
    }
    
    &__link{
        @include no-text-decoration;
        font: $mSubheader;
        color: $White;r
        
        &--inactive{
            color:$Mercury;
        }
    }
}

.hero{
    @include flex;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    background-color: $BandSite-Black;
    color: $White;

    &__background{
        background-color:$BandSite-Black;
        opacity: 50%;
    }
}