/* ---- Primary Colors ---- */

$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFF;

/* --- Secondary Colors ----*/

$BandSite-Dark: #000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA; 

$Error: #D22D2D;